<div class="topbar">
  <div class="container">
    <h3>
      <a href="/"><span>What's Up Next Week?</span></a>
    </h3>
    <ul class="primay-nav">
      <% @cities.each do |city| %>
        <li><%= link_to city.name, "/#{city.name}" %></li>
      <% end %>
    </ul>
  </div>
</div>
