<h1>Why?</h1>
<p>
  We're sick of event sites full of junk.  We don't want to see every open mic night
  and stand up comedy gig in town, just big, family-friendly events that draw a good
  part of our city.  It is surprisingly hard to find the 10 biggest events in your city
  next weekend.  Our goal is to solve this problem.
  <p>
<h1>How?</h1>
<p>
  Our editors browse all sorts of news and event sites and filter that content,
  posting only the best.  Editors are generally focused on the city they live in.
  If you want to see your city supported, <a href="/info/contact">let us know</a>.
  If you want to suggest an event to be posted, <a href="/events/new">submit it</a>.
</p>
