<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Event approved!</h1>
    <p>
    Congratulations and thank you for submitting your event.
    It will show up on the site the week before the event starts.
    </p>
    <p>Cheers,</p>
    <p>Your friends at WUNW</p>
  </body>
</html>

