/*
 *= require reset-min
 *= require formtastic
 *= require_self
 *= require_tree . 
*/

body {
  width: 99%;
  background-color: #fff;
  font-family: Arial;
  font-size: 16px;
  line-height: 1.4em;
}

a {
  color: #48d;
}
a:hover {
  text-decoration: underline;
}
p {
  padding: 5px 0;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 5px;
}
h2 {
  font-size: 1.3em;
  padding-bottom: 5px;
}
h3 {
  font-size: 1.2em;
  padding-bottom: 5px;
}

#page {
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 30px;
  width: 920px;
  margin: 0 auto;
  background-color: #def;
}

#header {
  padding-bottom: 20px;
}

#header #logo {
  font-size: 24px;
}

#footer {
  padding-top: 50px;
}

#content li {
  list-style: square;
  margin-left: 16px;
}

.formtastic {
  padding: 30px;
}

#content .formtastic li {
  list-style: none;
  margin-left: 0;
}
