/*
 *= require reset-min
 *= require formtastic
 *= require_self
 *= require_tree . 
*/

body {
  margin: 10px;
  width: 640px;
  background-color: #fff;
  font-family: Arial;
  font-size: 16px;
  line-height: 1.4em;
}

a {
  color: #48d;
}
a:hover {
  text-decoration: underline;
}
p {
  padding: 5px 0;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 5px;
}
h2 {
  font-size: 1.3em;
  padding-bottom: 5px;
}
h3 {
  font-size: 1.2em;
  padding-bottom: 5px;
}

#page {
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  background-color: #def;
}

#header {
  padding-bottom: 20px;
}

#header #cities {
  float: right;
}

#header ul {
  width: 240px;
}
#header li {
  display: inline;
}

#header #logo {
  font-size: 24px;
}

#footer {
  padding-top: 50px;
}

#content li {
  list-style: square;
  margin-left: 16px;
}

.formtastic {
  padding: 30px;
}

#content .formtastic li {
  list-style: none;
  margin-left: 0;
}

#content table {
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#content table th {
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#content table td {
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#content table tr:hover td {
	background: #d0dafd;
	color: #339;
}
